<div class="class">
    <div class="col-md-12">
        <li>
            <a mat-list-item [routerLink]="['/Observables/from-event']">FromEvent</a>
        </li>
        <li>
            <a mat-list-item [routerLink]="['/Observables/interval']">interval</a>
        </li>
        <li>
            <a mat-list-item [routerLink]="['/Observables/Of-from']">Of and from</a>
        </li>
        <li>
            <a mat-list-item [routerLink]="['/Observables/to-array']">toArray</a>
        </li>
        <li>
            <a mat-list-item [routerLink]="['/Observables/custom']">Custome-observable</a>
        </li>
    </div>
</div>