h1{
text-align: center;
font-family: 'Times New Roman', Times, serif;
}
.content{
    display: flex;
  
    gap:10px;
}
.action
{  
     button
    {
        flex:1;
    }
}
.k .mat-icon {
    font-size: 36px;    
}
form {
    border: 1px solid #110f0f;
    border-radius: 4px; 
    padding: 20px; 
  }