
<div class="container">
    <div class="my-3">
        <h2>Async/Await</h2> 
<br>


<div class="row" style="display: inline-block;">
    <div class="col-md-4">
        <strong>Ex-01 : With Promise</strong>
        <hr>
        <button mat-raised-button color="primary" (click)="fetch1()">Buy Laptop</button>
        <hr>
        <div id="result1">Data</div>
    </div>
    <br>
        <div class="col-md-4">
            <strong>Ex-02 : With Async/Await</strong>
            <hr>
            <button mat-raised-button color="accent" (click)="fetch2()">Buy Laptop</button>
            <hr>
            <div id="result2">Data</div>
        </div>
        <br>
        <div class="col-md-4">
            <strong>Ex-03 : with fetch Api</strong>
            <hr>
            <button mat-raised-button color="warn" (click)="fetch3()">Buy Laptop</button>
            <hr>
            <div id="result3">Data</div>
        </div>
</div>
</div>
</div>

